.active {
  background: #232a38 !important;
  color: white !important;
}

.nav-link,
.drop-down li {
  list-style: none;
  height: 100%;
  /* padding: 0.5rem 1rem; */
  font-weight: 600;
  cursor: pointer;
}

.drop-down {
  position: absolute;
  padding: 0.5rem;
  margin-top: 35px;
  background: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  display: none;
}

.nav-link:hover {
  /* background-color: rgba(0, 0, 0, 0.192); */
  border-radius: 0.5rem;
}

.services:hover .drop-down {
  display: block;
}

.services .dropdown-icon {
  position: relative;
  right: -5px;
  transform: rotate(0deg);
  transition: 0.3s ease-in-out all;
}

.services:hover .dropdown-icon {
  transform: rotate(180deg);
}

.drop-down li:hover {
  border-radius: 0.5rem;
}
